<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="cartCount > 0">{{ cartCount }}</ion-badge>
      </ion-button>
      <ion-button (click)="logout()" color="medium">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="home-page">
  <ion-searchbar (ionInput)="searchMenu($event)" placeholder="Cari menu..."></ion-searchbar>

  <h2>Kategori Makanan</h2>
  <ion-list>
    <ion-item *ngFor="let makanan of makananList" class="menu-item">
      <ion-thumbnail slot="start">
        <img [src]="makanan.image">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ makanan.name }}</h3>
        <p>{{ makanan.price }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="addToCart(makanan)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <h2>Kategori Minuman</h2>
  <ion-list>
    <ion-item *ngFor="let minuman of minumanList" class="menu-item">
      <ion-thumbnail slot="start">
        <img [src]="minuman.image">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ minuman.name }}</h3>
        <p>{{ minuman.price }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="addToCart(minuman)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
